version: '3.9'
services:
  postgres:
    image: postgres:16
    environment:
      POSTGRES_DB: topperflow
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - '5432:5432'
  backend:
    build: ./backend
    env_file: .env
    ports:
      - '5000:5000'
    depends_on:
      - postgres
  frontend:
    build: ./frontend
    env_file: .env
    ports:
      - '3000:3000'
    depends_on:
      - backend
